$black1: #111111;
$black2: #292929;
$black3: #575757;
$black4: #b5b5b5;
$red1: #ad0014;
$red2: #860010;
$red3: #52000a;
$red4: #310106;
$red5: #ffd1d665;
$red6: #ff0000;
$blue1: rgb(18, 18, 65);
$blue2: rgb(65, 65, 255);
$blue3: rgb(56, 136, 255);
$blue4: rgb(164, 229, 255);
$blue5: rgb(215, 235, 255);
$one: rgb(0, 238, 251);
$two: rgb(255, 0, 238);
$tree: rgb(56, 255, 89);
$fire: rgb(246, 255, 0);
$fem: rgb(254, 136, 0);
