$black1: #111111;
$black2: #111111cd;

$one: #242333;
$one1: #24233389;
$two: #ffffff;
$two1: #ffffff85;
$tree: #01b0d3;
$tree1: #06d5ff77;
$tree2: #06d6ff29;


$four: #ce02ce;
$four1: #8f008f;
$four2: #fdf3fd;


